* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}

.section,
.list,
#about,
#projects,
#skills,
#messages {
    margin: 10px;
    padding: 2px
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

#exp li,
#skills li {
    display: block;
    background-color: rgb(200, 220, 239);
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}

footer {
    background-color: rgb(184, 214, 240);
    padding: 5px;
    margin-left: 5px;
}

@media screen and (min-width: 480px) and (max-width: 1280px) {
    background-color: ghostwhite;
}